@import url('https://fonts.googleapis.com/css?family=Orbitron|Ropa+Sans');

h1{
    margin-left: 50px;
}

input{
    height: 20px;
    width: 50px;
    margin: 5px;
    background-color: black;
    color: white;
    border: solid black 2px;
    font-family: 'Ropa Sans', sans-serif;
    text-align: center;
    font-size: 18px;

}

p{
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    color: limegreen;
    letter-spacing: 5px;
}

.button{
    display: block;
    width: 30px;
    height: 20px;
    padding: 5px 5px 20px 5px;
    text-align: center;
    border-radius: 5px;
    float: left;
    background-color: #9d9d9d;
    margin: 5px;
    font-family: 'Ropa Sans', sans-serif;
    font-size: 14px;
    font-weight: bolder;
}

.operator{
    background-color: #a44519;
    color: white;

}

#main-container{
    height: 300px;
    width: 190px;
    background-image: url("../img/moon-texture.jpg");
    padding: 10px 30px 30px 30px;
    margin: 50px;
    border-radius: 20px;
}

#buttonsDiv{
    margin: 20px 10px 10px 10px;
}

#operator{
    width: 25px;
}

#btn4{
    clear: left;
}

#btn7{
    clear: left;
}

#btnC{
    clear: left;
}

#btnE{
    width: 150px;
}

#inputFields{
    margin: 10px 0 0 0;
    background-color: black;
}

