@import url('https://fonts.googleapis.com/css?family=Titillium+Web');

body{
    background-image: url('../img/burl.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin-bottom: 60px;
}

h1{
    text-align: center;
    font-family: 'Titillium Web', sans-serif;
    font-size: 48px;
    padding: 15px;
    margin-top: 25px;
    color: aliceblue;
}

h2{
    text-align: center;
    color: aliceblue;
    font-family: 'Titillium Web', sans-serif;
}

h3 h4{
    color: white;
    font-family: 'Titillium Web', sans-serif;
}

p{
    text-align: justify;
    color: aliceblue;
}

dl{
    color: aliceblue;
}

label{
    color: white;
}

.container{
    max-width: 800px;
}



.text-muted{
    text-align: center;
    color: white;
}

.resume-header{
    text-align: center;
}

.right-align-dates{
    float: right;
}

.tab{
    color: white;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Titillium Web', sans-serif;
}

.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    color: white;
    background-color: #00000;
}

.project-div{
    background-color: #4e4f67;
    max-width: 100%;
    height: 450px;
}

.project-img{
    height: 250px;
    width: 250px;
    border-radius: 15px;
    margin: 30px 15px 15px 15px;
    float: left;
}

.project-text{
    margin-left: 15px;
    margin-right: 15px;
}

.project-header{
    padding-top: 15px;
    text-align: center;
}

.form-group{
    padding: 10px;

.btn{
    margin-bottom: 15px;
}

#main-header{
    font-family: 'Titillium Web', sans-serif;
    font-size: 125px;
}

#contact-form{
    margin-top: 50px;
    background-color: #4e4f67;
    border-radius: 15px;
}

#self{
    height: 250px;
    width: 250px;
    border-radius: 30px;
    opacity: .80;
}

